{{ if eq .chezmoi.os "darwin" -}}
# macOS .zshenv contents
export HOMEBREW_BUNDLE_NO_LOCK
export HOMEBREW_BUNDLE_FILE="~/.dotfiles/Brewfile"

# Homebrew and QMK fix
export LDFLAGS="-L/usr/local/opt/arm-none-eabi-gcc@9/lib"
export PATH="$PATH:/usr/local/opt/arm-none-eabi-gcc@9/bin"
{{ else if eq .chezmoi.os "linux" -}}
# Linux .zshenv contents
{{ end -}}

# Common .zshenv contents
path+=$HOME/.local/bin
typeset -aU path
export LESS="eFRX"
export W3M_DIR="$XDG_CONFIG_HOME/w3m"
