{{ if eq .chezmoi.os "linux" }}
{{- (bitwardenFields "item" "18267036-0499-4d97-b674-ab0600a0af8e").damon.name }}
WORKGROUP
{{ (bitwardenFields "item" "18267036-0499-4d97-b674-ab0600a0af8e").damon.value }}
{{- end }}
