#!/bin/sh

# Packages are listed in .chezmoidata.yaml

{{ if eq .chezmoi.os "darwin" -}}
brew update && brew upgrade

# Install packages
brew install {{ (uniq (concat .packages.common .packages.darwin.brews)) | join " " }} 

# Install casks
brew install --cask {{ .packages.darwin.casks | join " " }}

{{ else if eq .chezmoi.os "linux" -}}
sudo -v

sudo apt update && sudo apt upgrade
sudo apt install -y {{ (uniq (concat .packages.common .packages.linux.apt)) | join " " }}

# Snaps
{{- range .packages.linux.snaps }}
sudo snap install {{ . }}
{{ end -}}

{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.arch "arm64")) }}
# Certain things aren't easily available for ARM Linux

# Newsboat doesn't work as well installed from Snap
snap install newsboat

# Bitwarden isn't packaged for ARM64 Linux
sudo apt install build-essential
sudo npm install -g @bitwarden/cli

{{- else }}

sudo apt install -y newsboat

{{- end }}

# Update the font cache (have to do it somewhere)
fc-cache -f -v

{{ end -}}

