#!/bin/sh

# Packages are listed in .chezmoidata.yaml

{{ if eq .chezmoi.os "darwin" -}}

brew update && brew upgrade

# Install packages
echo "$(basename $0): Installing brew packages."
brew install {{ (uniq (concat .packages.common .packages.darwin.brews)) | join " " }} 

# Install casks
echo "$(basename $0): Installing brew casks."
brew install --cask {{ .packages.darwin.casks | join " " }}

{{ else if eq .chezmoi.os "linux" -}}
sudo -v

echo "$(basename $0): Updating/upgrading Apt." 
sudo apt update && sudo apt upgrade
sudo apt install -y {{ (uniq (concat .packages.common .packages.linux.apt)) | join " " }}

# Snaps
{{- range .packages.linux.snaps }}
echo "$(basename $0): Installing snaps." 
sudo snap install {{ . }}
{{ end -}}

{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.arch "arm64")) }}
# Certain things aren't easily available for ARM Linux

# Newsboat doesn't work as well installed from Snap
echo "$(basename $0): Installing Newsboat snap (because ARM Linux)."
sudo snap install newsboat

# Bitwarden isn't packaged for ARM64 Linux
echo "$(basename $0): Installing Bitwarden CLI from NPM (because SRM Linux)."
sudo apt install build-essential
sudo npm install -g @bitwarden/cli

{{- else }}

echo "$(basename $0): Installing Newsboat from Apt."
sudo apt install -y newsboat

{{- end }}

# Update the font cache (have to do it somewhere)
echo "$(basename $0): Updating the font cache."
fc-cache -f -v

{{ end -}}

