{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh
# See https://forum.manjaro.org/t/root-tip-utility-script-gio-mount-samba-share/100723
# and https://github.com/pheiduck/smb-share

systemctl --user enable gio-mount-downloads.service
systemctl --user start gio-mount-downloads.service
# systemctl --user enable gio-mount-working.service
# systemctl --user start gio-mount-working.service

{{ end -}}

