#!/bin/sh

# Install TPM  plugins when .tmux.comf is modified
# .vimrc hash: {{ include "private_dot_config/tmux/tmux.conf.tmpl" | sha256sum }}
echo "$(basename $0): Installing tmux TPM plugins."

~/.config/tmux/plugins/tpm/bin/install_plugins
