#!/bin/sh

# Install TPM  plugins when .tmux.comf is modified
# .vimrc hash: {{ include "dot_vimrc" | sha256sum }}
echo "$(basename $0): Installing tmux TPM plugins."

~/.tmux/plugins/tpm/bin/install_plugins
