{{ if eq .chezmoi.os "linux" }}
{{- (bitwarden "item" "8b329a00-cc3a-4560-9c4f-b39e0014b93f").login.username }}
WORKGROUP
{{ (bitwarden "item" "8b329a00-cc3a-4560-9c4f-b39e0014b93f").login.password }}
{{- end }}
