[Unit]
Description=GIO mount smb shares: \home
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/%u/.local/bin/gio-share.sh home
ExecStop=/home/%u/.local/bin/gio-share.sh home -u
RemainAfterExit=true

[Install]
WantedBy=default.target

